{% extends 'base.html' %}
{% block content %}
<h2 style="color: green">Садовые цветы</h2>
<div class="cards">
    {% for p in posts %}
    {%if p.plant_type == 'garden' %}
    <div class="card">
        <a href="{% url 'show_post' p.id %}"><img src="/media/{{p.photo}}" height="150" width="180"></a>
        <p class="card_p" >{{p.title }} </p>
        <p class="card_p" >Цена {{p.price }}</p>
        <p class="card_p"  >Доступно {{p.quantity}} шт.</p>
        <form action="" method="post">{% csrf_token %}
            <input type="hidden" name='id' value={{p.id}}>
            <button type="submit" name="buy" value={{p.title}} > Купить </button>
        </form>
    </div>
    {% endif %}
    {% endfor %}
</div>
<nav class="pagination">
        <ul >
            {% for p in list_page %}
                <a href="?page={{ p }}" style="color:red">{{ p }}</a>
            {% endfor %}
        </ul>
</nav>

{% endblock %}