{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
<link type="text/css" href="{% static 'flower/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="header">
             <div class="header_text">  Купите цветы </div>
    </div>
    <div class="menu">

                 {% for m in menu %}
                      <div class="menu_text"><a href="{% url m.url_name %}" style="color:yellow" >{{m.title}}</a></div>
                 {% endfor %}

    </div>
    <div id="main">
        <div id="main1">
            <p>Каталоги цветов.</p>
            <ol>
                <li><a href="{% url 'homemade_flowers' %}">Домашние цветы.</a></li>
                <li><a href="{% url 'garden_flowers' %}">Садовые цветы.</a></li>
            </ol>
        </div>
        <div id="main3">{% block content %} {% endblock %}</div>
        <div id="main2">Боковая панель</div>
    </div>
    <div class="footer">
     <p>Все права защищены</p>
    </div>
</body>
</html>